<div class="dashboard-container">
  <!-- fila 1: 4 tarjetas -->
  <section class="stats-row">
    <div class="stat-card" *ngFor="let s of stats">
      <div class="stat-title">{{ s.title }}</div>
      <div class="stat-value">{{ s.value }}</div>
    </div>
  </section>

  <!-- fila 2: grafico principal y actividad -->
  <section class="charts-row">
    <div class="main-chart card">
      <div class="chart-header">

        <h3>Ventas mensuales</h3>
        <div class="chart-legend">Últimos 12 meses</div>
      </div>

      <div class="bars">
        <div class="bar" *ngFor="let h of monthlyNormalized; let i = index" [style.height.%]="h" [attr.title]="monthlySales[i] + ' USD'"></div>
      </div>

      <div class="chart-xlabels">
        <span *ngFor="let m of monthlyNormalized; let i = index">M{{ i + 1 }}</span>
      </div>
    </div>

    <aside class="activity card">
      <h3>Pedidos recientes sin completar</h3>
      <ul>
        <li ft-12-500 *ngIf="recentActivity.length == 0">No Hay Pedidos sin Completar</li>

        <li *ngFor="let a of recentActivity">
          <div class="act-left">
            <div class="act-title">{{ a.label }}</div>
            <div class="act-time">{{ a.time }}</div>
          </div>
          <div class="act-amount">{{ a.amount }}</div>
        </li>
      </ul>
    </aside>
  </section>

  <section class="stats-row" *ngIf="reports">
    
    <div class="stat-card" style="padding: 2em; height: 8em;">
      <div class="stat-title">Cliente con más Gastos</div>
      <div class="stat-value">$ {{ reports.client[0].totalGastado }}</div>
      <div class="stat-title">{{ reports.client[0].cliente }} - V{{reports.client[0].cedula}}</div>
    </div>

    <div class="stat-card" style="padding: 2em; height: 8em;">
      <div class="stat-title">Producto con más Ingresos</div>
      <div class="stat-value">$ {{ reports.product.ganancias }}</div>
      <div class="stat-title">{{ reports.product.producto }}</div>
    </div>

    <div class="stat-card" style="padding: 2em; height: 8em;">
      <div class="stat-title">Vendedor con más Órdenes Concluidas</div>
      <div class="stat-value">{{ reports.sellers[0].cantidadOrdenes }}</div>
      <div class="stat-title">{{ reports.sellers[0].usuario }}</div>
    </div>

    <div class="stat-card" style="padding: 2em; height: 8em; background-color: rgb(44, 44, 44);">
      <div class="stat-title" style="color: rgb(213, 213, 213);">Tasa BCV</div>
      <div class="stat-value" style="color: white;">291.35 Bs</div>
    </div>

  </section>

  

</div>
